# Porta exposta pelo Docker Compose
# Exemplo em desenvolvimento: 5173
# Exemplo em produção: 80
APP_PORT=

# Nome da aplicação
VITE_APP_NAME=HealthMind

# Ambiente atual: development ou production
VITE_APP_ENV=production

# URL pública do projeto
VITE_SITE_URL=https://url.com.br

# Caminho ou URL para download do APK
VITE_APP_DOWNLOAD_URL=/download/HEALTHMIND.apk